<!-- Begin Footer -->
<footer class="container ">
    <div class="row">
        <div class="col-md-4 treehouse-ad">
            <!--<a href="http://referrals.trhou.se/andytan" target="_blank"><img-->
                    <!--src="http://wac.a8b5.edgecastcdn.net/80A8B5/static-assets/assets/content/referral-badge-grn.png"/></a>-->
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 social-icons">
            <a href="https://www.linkedin.com/in/andytan87" target="_blank">
                <img src="{{'assets/images/social/linkedin.png'|theme}}" width="20"
                     alt="Linked In Profile">
            </a>
            <a href="https://twitter.com/ashskywalker10" target="_blank">
                <img src="{{'assets/images/social/14-social-twitter.png'|theme}}" width="20"
                     alt="a1c85180-93b5-44b0-9d23-1cfa6881fdfe_14-social-twitter.png">
            </a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ ['assets/javascript/vendor/jquery-1.10.2.min.js']|theme }}"></script>
<script type="text/javascript" src="{{ ['@framework']|theme}}.js"></script>
<script src="{{ ['assets/javascript/bootstrap.min.js']|theme }}"></script>
<script src="{{ ['assets/javascript/plugins.js']|theme }}"></script>
<script src="{{ ['assets/javascript/main.js']|theme }}"></script>
<script src="{{ ['assets/javascript/front.js']|theme }}"></script>

{% component "gaCode" %}
</body>
</html>