.sweet-alert {
  text-align: right;
}
.sweet-alert h2 {
  word-break: word-break;
  word-wrap: break-word;
  max-height: 350px;
  overflow-y: auto;
  margin: 10px 0 17px 0;
  color: #2b3e50;
  text-align: left;
  font-size: 15px;
  line-height: 23px;
}
.sweet-alert p {
  margin: 0;
}
.sweet-alert p.text-muted {
  margin-bottom: 20px;
  color: #555555;
}
