title = "Latest Posts"
url = "/posts"
layout = "default"
description = "Posts page"
==
<?php
use RainLab\Blog\Models\Post;

function onStart(){
    $this['posts'] = Post::isPublished()
                        ->orderBy('published_at', 'desc')
                        ->take(5)
                        ->with('categories')
                        ->get();
}

function onLoadMorePosts(){
$postsCount = (int) post('postsCount');

$this['posts'] = Post::isPublished()
->orderBy('published_at', 'desc')
->skip( $postsCount * 5 )
->take(5)
->with('categories')
->get();

$this['count'] = count($this['posts']);

}
?>
==
<header class="intro-header" style="background-image: url('{{ "/assets/images/posts.png"|theme }}')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1 class="text-center">{{ this.page.title }}</h1>
            </div>
        </div>
    </div>
</div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="posts">
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ 'post'|page({slug: post.slug}) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.excerpt }}
                    </h3>
                </a>
                <span class="post-meta">Published on {{ post.published_at|date("F jS, Y") }}</span> <br/>
                {% for category in post.categories %}
                <a href="{{ 'category'|page({slug: category.slug }) }}">
                    <span class="label label-primary">{{ category.name }}</span>
                </a>
                {% endfor %}
            </div>
            <hr>
            {% else %}
            <h2>No posts found.</h2>
            {% endfor %}


        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a id="load_more"
               href="#"
               class="btn btn-primary load-more-button"
               data-request="onLoadMorePosts"
               data-request-update="'ajax/posts': '@#posts'"
               data-request-data='"postsCount": 1'
               data-request-success="incrementPostsCounter($el);disableLoadButton();">
                Load more
            </a>
        </div>
    </div>

</div>

<script>
    function incrementPostsCounter($el){
        var data = $.parseJSON( "{" + $el.data('request-data') + "}" );
        console.log(JSON.stringify($el));
        $el.data('request-data', '"postsCount": ' + (++data.postsCount) );
    }

    function disableLoadButton() {
        console.log('AMY KIM IS SO HOT');
    }
</script>

{% put scripts %}
{% framework extras %}
{% endput %}